Comments from Danny Niu 

I'd like to let the interested parties know that, I've written a experimental C implementation of the draft. If anyone's interested in benchmarking or any kind of testing, I'd love to assist. I've also raised a few implementation-related issue at [crypto.stackexchange.com/a/106599/36960](http://crypto.stackexchange.com/a/106599/36960) and I'll summarize here:

1. The draft treats ECDSA RNG as a white box and penetrates the PRNG boundary to seed it, which is something NIST specifies not to do. This isn't too big an issue, as there are ways to maintain functionality opacity.

2. The draft underspecifies how to use KMAC when the hash function is SHAKE. The way I prefer is to persuade NIST to specify and approve a permutation-based PRNG and use that instead. However in the interim time, we could add details on how KMAC should be used with HMAC-DRBG, but again, it'll penetrate the PRNG boundary. What's more, KMAC had not been approved for use with HMAC-DRBG yet.

Answering the email:


> 1. I am correct in my understanding that this is concerning deterministic ECDSA (RFC 6979) and not just the hedged construction in draft-irtf-cfrg-det-sigs-with-noise?

Actually I directed my 1st comment directly at the new ECDSA hedged RNG construction. But as I said, it's not too big a deal, as I've demonstrated in my [experimental implementation](https://github.com/dannyniu/MySuiteA/blob/c8b5537f4435759cac4bb6551d9a26aa7ee16f51/src/3-ecc-common/ecc-dss-sign-hedged.c)
 

> 2. I don’t see excactly what is missing for KMAC. Maybe you can describe in more detail in the GitHub issue?

Actually, there isn't much missing for KMAC. I just hoped NIST can specify a DRBG based on Keccak-1600 so that something more efficient than KMAC can be adopted in the future.

Hi Danny,

Yes, we missed that different random number is not compatible with HMAC_DRBG. The reason that we suggested different random numbers was that this improves security against second-order DPA attacks. We agree that compliance with HMAC_DRBG seems more important. I have made commits that change to a single random value Z and gives you acknowledgement.

https://author-tools.ietf.org/api/iddiff?doc_1=draft-irtf-cfrg-det-sigs-with-noise&url_2=https://cfrg.github.io/draft-irtf-cfrg-det-sigs-with-noise/draft-irtf-cfrg-det-sigs-with-noise.txt

> Actually, there isn't much missing for KMAC, except we need to specify whether to invoke KMAC as a XOF (with L=0) or a fixed-length PRF (with L being 32, 48, 64 66 (P-521)).

Reading the current text is seems to be specified on a RECOMMENDED level to use the same value L as in the hashing of the message. I.e. when ECDSA is used with SHAKE128(M, 256) and SHAKE256(M, 512) as in RFC 8692 and FIPS-186-5, it is RECOMMENDED to use KMAC128(K, M, 256, "") and KMAC128(K, M, 512, ""). Note that L is specified in bits.



Thanks, appreciated.

Note that for the P-521 instance, 521 bits are needed, otherwise [lattice attack](https://eprint.iacr.org/2019/023.pdf) will work.

@dannyniu Do you by any way have test vectors? Taylor R Campbell are asking for test vectors in #4


@emanjon I can generate some, but some details are needed:

1. against which revision should I generate my test vectors,
2. when instantiating ECDSA, do I use SHAKE+KMAC or the regular SHA-3 instances with HMAC (or some other combination)? 

@ethorm I checked out the new draft, and noticed a reference to "section 3.3 of RFC-8391". However, there's no section 3.3 in RFC-8391, there's only 1 2nd-level subsection in RFC-8391.

Thank you @dannyniu, fixed it to reference RFC 6979.

Thanks @dannyniu, 

> Note that for the P-521 instance, 521 bits are needed, otherwise [lattice attack](https://eprint.iacr.org/2019/023.pdf) will work.

I assume that you mean that step h.2 of https://datatracker.ietf.org/doc/html/rfc6979#section-3.2 needs to be iterated twice. John just made a commit recommending that KMAC outputs at least qlen bits (more exactly max(d, qlen)), where qlen is from RFC 6979.

@ethorm It looks great. I was going to say "exactly 521 bits may cause difficulty for octet-oriented HMAC-DRBG implementations", but I think I'll manage by breaking curve abstraction layer a bit. I'll let others raise their concern. At worst, I'll omit test vectors for P-521.

When the next revision is posted on IETF data tracker, I'll try find time write up codes to generate test vectors.

I found some problem with implementing P-521+KMAC-256 under the current wording (mostly with octet-oriented implementations). I'll open a separate issue once preliminary test vectors are verified and further testing are ready.

Byte alignment seems like a good idea to align with libraries. Requesting 66 bytes seems like a good idea.

bits2int is already defined to do a right shift in Section 2.3.2, there is no need for an explicit leftmost function.

(The right shift is actually much more annoying to implement than masking the 7 most significant bits, but we already need to implement it for ECDSA's hash2int, so might as well reuse it.)

I made a PR that changes the recommended output lenght of KMAC to 8*ceil(qlen/8). As FiloScottile commented bit2ins is already doing a rightshift.