Remove step f section completely - Suggested by Yolan Romailler 

https://mailarchive.ietf.org/arch/msg/cfrg/CfDtdteov0gBVetkvi6VPU6y3VU/
```

I would however recommend mentioning section 3.6 of RFC6979 in sections 4
and 5 of this proposal.
I also don't see why it is necessary to modify the step (f) in Section 3.2
of [RFC6979], since the randomization is already taking place in step (d)
when additional random data is provided there. I would recommend only
modifying step (d) to conform with the existing proposal for variants in
RFC6976 section 3.6 and for ease of implementation.
Finally, I'm not convinced by the need to "middle"-pad the input to HMAC
with "a sequence of zero bits 000... chosen so that the length of (V ||
0x00 || Z || int2octets(x) || 000...) is equal to block size of the hash
function". I don't see any rationale to do so. Indeed, we could instead set
K = HMAC_K(V || 0x00 || int2octets(x) || bits2octets(h1) || Z), where Z is
the  random data of the same length as int2octets(x) and that would be
"nicer" and avoid implementers to needlessly worry about the underlying
block size of their hash, plus it would be conforming to section 3.6 of the
RFC6979.
```


Removing f does not work as the current step f does not include 000.... and Z. The result would then not be compatible with HMAC_DRBG